<div class="grid-container">
  <!-- <img class="a" src="../../assets/one.png" />
  <img class="b" src="../../assets/one.png" />
  <img class="c" src="../../assets/one.png" />
  <img class="d" src="../../assets/one.png" />
  <img class="e" src="../../assets/one.png" />
  <img class="f" src="../../assets/one.png" /> -->
  <div class="a">1</div>
  <div class="b">2</div>
  <div class="c">3</div>
  <div class="d">4</div>
  <div class="e">5</div>
  <div class="f">6</div>
  <div class="g">7</div>
</div>
