.container {
  display: flex;
  margin: 0;
}

.container > .column {
  flex: 1;
  border-style: solid;
  font-size: 23px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container > .column.column-left {
  border: red;
}

.container > .column.column-right {
  border: blue;
}
